

* {
	box-sizing: border-box;
}
html{
	font-size :100%;
	font-family :"Comic Sans MS", cursive, sans-serif;
}
h1
{
	text-align:center;
}
@media (min-width: 992px){
.container{
	
	padding:20px;
	display:grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	height:210px;
	
	
}
.container>div{
	border: 3px solid black;
	padding-right: 10px;
	padding-left: 10px;
	background: lightpink;
}


}
@media (min-width: 768px)and (max-width: 991px){
.container{
	
	padding:20px;
	display:grid;
	grid-template-columns: auto auto;
	grid-gap: 30px;
	height:210px;
	
	
}
.container> div{
	border: 3px solid black;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom:2px;
	background-color: lightpink;
}
.p3{
	grid-column: 1/span 2;
}
}
@media (max-width: 767px){
	.container{
	
	padding:20px;
	display:grid;
	grid-template-columns: auto;
	grid-gap: 30px;
	height:210px;
	
	
}
.container> div{
	border: 3px solid black;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom:2px;
	background-color:lightpink;
}
}

.head1{
   position: relative;
   left:62%;
	border:5px solid black ;
	background-color: lightblue;
	width: 40%;
text-align: right;
padding:0; 

}
	
.head2{
	position: relative;
	 left:62%;
	border:5px solid black ;
	background-color: lightblue;
	width :40%;
	text-align: right;
    padding: 0;
   
}
.head3{
    position: relative;
     left:62%;
	border:5px solid black ;
	background-color: lightblue;
	width:40%;
	text-align: right;
    padding: 0;

}
